 body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    background-image: url('https://as2.ftcdn.net/v2/jpg/01/31/27/99/1000_F_131279986_ToLS0CR4O2VBc2vk7qNI7HUxeQd9refB.jpg');
    background-size: cover;
}

.main {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    background: rgb(30 27 26 / 50%);
    border-radius: 5px;
}


.choosed-player{
    background-image: url('');
}


.player-details {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headers {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.headers button {
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.headers button:hover {
    background-color: #555;
}

.content {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

td img {
    display: block;
    margin: 0 auto;
}

tr.row:nth-child(odd) {
    background-color: #f9f9f9;
}

tr.row:nth-child(even) {
    background-color: #e5e5e5;
}

#data th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}


